version: 2
updates:
  - package-ecosystem: docker
    directory: "/atlas/templates/docker"
    schedule:
      interval: daily
  - package-ecosystem: "github-actions"
    directory: "/atlas/templates"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
