package main

import (
	"github.com/infobloxopen/atlas-app-toolkit/gateway"
	"github.com/spf13/viper"
)

func RegisterGatewayEndpoints() gateway.Option {
	return gateway.WithEndpointRegistration(viper.GetString("server.version"),
		//pb.RegisterCmdbHandlerFromEndpoint,
{{- range $r := .R }}
		pb.Register{{$r.NameCamels}}HandlerFromEndpoint,
{{- end }}
	)
}
