{{ "{{" }} if .Values.secrets.enabled -{{ "}}" }}
{{ if .WithDatabase }}
apiVersion: v1
kind: Secret
metadata:
    name: {{ "{{" }} include "chart.fullname" . {{ "}}" }}-db-key
    namespace: {{ "{{" }} .Release.Namespace {{ "}}" }}
type: Opaque
data:
    password: {{ "{{" }} .Values.db.password | b64enc {{ "}}" }}
---
{{ end }}
{{ "{{" }} end {{ "}}" }}
