{{ "{{" }} if eq .Values.secrets.enabled true -{{ "}}" }}
apiVersion: v1
kind: Secret
metadata:
    name: {{ "{{" }} include "chart.fullname" . {{ "}}" }}-db-key
    namespace: {{ "{{" }} .Release.Namespace {{ "}}" }}
type: Opaque
data:
    password: {{ "{{" }} .Values.db.password | postgres {{ "}}" }}
---
{{ "{{" }} end {{ "}}" }}
