{{- if .WithDatabase }}
{{ "{{" }} if .Values.secrets.enabled -{{ "}}" }}
apiVersion: v1
kind: Secret
metadata:
    name: {{ "{{" }} include "chart.fullname" . {{ "}}" }}-db-key
    namespace: {{ "{{" }} .Release.Namespace {{ "}}" }}
type: Opaque
data:
    password: {{ "{{" }} .Values.db.password | required "must set db.password or disable secrets" | b64enc {{ "}}" }}
---
{{ "{{" }} end {{ "}}" }}
{{- end }}
