name: PR
on:
  pull_request:
  workflow_dispatch:
    inputs:
      make-flags:
        description: additional flags to supply to make
        required: false
        default: DOCKER_GENERATOR=infoblox/atlas-gentool:latest
jobs:
  test:
    name: Test with integration
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      HELM_VERSION: v2.14.3
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: "^1.14.0"
      - uses: azure/setup-helm@v1.1
        with:
          version: ${{ env.HELM_VERSION }}
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: ./src/github.com/${{ github.repository }}
      - run: go version
      - uses: actions/cache@v2.1.5
        with:
          path: |
            ~/go/pkg/mod
            ${{ github.workspace }}/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: echo ${{ github.workspace }}/bin >> $GITHUB_PATH
      - name: Test
        working-directory: ./src/github.com/${{ github.repository }}
        env:
          GOPATH: ${{ github.workspace }}
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

          make test-with-integration ${{ github.event.inputs.make-flags }}
